@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap");

:root {
  --ac-200: #99d2e0;
  --ac-300: #6abed2;
  --ac-500: #219ebc;
  --white: #ffffff;
  --sec-300: #e6e4de;
  --sec-500: #dad7cd;
  --sec-900: #5c5a56;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s all;
}
body {
  font-family: "Syne", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 98vw;
  min-height: 97vh;
  height: 98vh;
  padding: 0 4vw;
}
#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: 0.3;
  z-index: -1;
  pointer-events: none;
}

main {
  max-width: 1440px;
  width: 100%;
  height: 100%;
}
#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  position: relative;
}
header .ford{
  position: absolute;
  z-index: 2;
  width: 100%;
height: 200px;
background-color: var(--ac-500);
top: 105%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: 10px;
padding: 10px;
border-radius: 10px;
transition: none !important;
display: none;
}


.ford .cp__title{
  color: var(--white);
}
.ford p {
  color: var(--white);
  margin-bottom: 10px;
  font-size: 18px;
}
header h1 {
  color: var(--ac-500);
  font-weight: 700;
  font-size: 30px;
}
header nav {
  display: flex;
  gap: 1rem;
}
nav a {
  text-decoration: none;
  font-size: 18px;
  color: var(--sec-900);
}
.head__action {
  padding: 6px 15px;
  background: inherit;
  border: 1px solid var(--ac-500);
  border-radius: 5px;
  text-decoration: none;
  color: var(--ac-500);
  font-size: 18px;
}
.welcome__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}
.welcome__text {
  font-weight: 700;
  color: var(--sec-900);
  font-size: 45px;
  text-align: center;
}
.welcome__action {
  padding: 10px 15px;
  text-decoration: none;
  color: var(--white);
  background-color: var(--ac-500);
  border-radius: 5px;
  font-size: 20px;
}
.welcome__text span {
  color: var(--ac-500);
  font-weight: 800;
}
.follow__us {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 250px;
}
.follow__text {
  display: flex;
  font-size: 18px;
  flex-direction: row;
  align-items: flex-end;
  gap: 8px;
}
.line {
  flex: 1;
  height: 2px;
  background-color: var(--ac-300);
}
.icons {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-self: flex-end;
}
.icons i {
  font-size: 24px;
}

/*DOCUMENT 2: REGISTER.HTML*/
#register__main,
#view__main,
#explore__main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register__div__wrapper {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.register__div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.reg__contents {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.input__div {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}
.labels {
  font-size: 16px;
  color: var(--sec-900);
}
.inputs {
  padding: 10px;
  width: 100%;
  background-color: var(--sec-300);
  color: var(--sec-900);
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  border: none;
}
.inputs:focus {
  outline: none;
  border: none;
}
.inputs::placeholder {
  font-family: "Sayne", sans-serif !important;
}
.reg__contents p {
  color: var(--sec-900);
  text-align: center;
}
.login__here {
  font-weight: 700;
  text-decoration: none;
  color: var(--ac-500);
}
.btn {
  text-decoration: none;
  padding: 10px 15px;
  color: var(--white);
  background-color: var(--ac-500);
  width: fit-content;
  align-self: center;
  border-radius: 5px;
  transition: 0.2s all;
  font-size: 18px;
}
.btn:focus,
.btn:hover {
  box-shadow: 0 0 0 2px var(--white), 0 0 0 4px var(--ac-500);
}
.google {
  padding: 10px;
  font-size: 18px;
  color: var(--ac-500);
  border: 1px solid var(--ac-500);
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  transition: all 0.2s;
}
.google:hover {
  background-color: var(--ac-500);
  color: var(--white);
}

/* VIEW PAGE */
.view {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
  width: 100%;
  /* padding: 0 3vw; */
}
.view__head {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-end;
  gap: 8px;
}
.view__head h3 {
  color: var(--sec-900);
  font-weight: 600;
  font-size: 22px;
}
.view__head .line {
  width: 150px;
  height: 2px;
}
.main__view__section {
  width: 100%;
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.screen {
  width: 65%;
  aspect-ratio: 16/9;
  border: 1px solid var(--ac-500);
  background-color: inherit;
  border-radius: 10px;
}
.panel {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 10px;
  align-items: center;
  justify-content: center;
  width: 32%;
}
.control__panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  width: fit-content;
  flex-wrap: wrap;
}
.control__panel .button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.button {
  color: var(--sec-900);
}
.button i {
  font-size: 30px;
  color: var(--ac-500);
}
.cp__title {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  color: var(--sec-900);
  text-align: right;
}
.title__line {
  height: 2px;
  width: 100px;
  background-color: var(--ac-300);
}
.part {
  display: flex;
  gap: 8px;
  align-items: baseline;
  font-size: 16px;
}
.part i {
  color: var(--ac-300);
}
.part .title__line,
.view__3d .title__line {
  width: 30px !important;
}
.view__more {
  text-decoration: none;
  color: var(--ac-500);
  font-size: 18px;
  text-align: center;
  display: block;
  margin-top: 20px;
}
.cp__contents {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.view__parts__img {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.slide {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.slide i {
  font-size: 24px;
  padding: 10px;
  margin: 5px;
  color: var(--sec-900);
}
.slide i:hover,
.slide i:focus {
  background-color: var(--sec-500);
  border-radius: 3px;
}
.slide__contents {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}
.slide__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--sec-500);
}
.slide__card img {
  width: 100px;
  aspect-ratio: 1;
  border: 1px solid var(--ac-500);
  border-radius: 5px;
  object-fit: cover;
}
/*DOCUMENT 2: EXPLORE*/
#explore__main {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.explore__slide__section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
  margin-top: 40px;
}
.explore__title {
  padding-bottom: 4px;
  margin: 0;
  text-align: center;
}
.underline {
  height: 2px;
  width: 100%;
  background-color: var(--sec-500);
  margin-top: -8px;
}
.explore__card {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.explore__card:hover{
  scale: 1.1;
}
.explore__card__img {
  max-width: 600px;
  width: 300px;
  aspect-ratio: 1;
  border: 1px solid var(--sec-500);
  border-radius: 5px;
  margin: 0 15px;
  object-fit: cover;
}
.view__3d {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  font-weight: 600;
  color: var(--sec-900);
  margin-top: 10px;
}

.view__3d:hover {
  color: var(--ac-500);
  font-weight: 700;
  border-bottom: 2px solid var(--ac-500);
  padding-bottom: 3px;
  cursor: pointer;
}
